<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Weather App</title>
  </head>
  <body class="bg-dark m-0">
    <div style="background-color:deepskyblue" class="container rounded">
      <div
        style="margin-top: 10rem;"
        class="mx-auto text-center p-4 "
        style="width: 400px"
      >
        <form action="/options" method="GET">
          <h3>Weather App</h3>
          <label for="city">
            <input type="text" name="city" placeholder="Berlin" />
          </label>
          <button class="btn btn-info bg-info" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
